body {

    background-color: rgb(156, 179, 228);
}

.my-col {

    font-size: 25px;

    padding: 20px;
}

.my-row {

    margin-top: 20px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: center;
    border-top: 6px solid rgb(182, 233, 182);
  }


  .first-row {

    text-align: center;

  }